@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Silkscreen&display=swap');

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #000000;
  color: #ffffff;
}

.navbar {
  color: #000000;
  background: #ffab62 !important;
}

/* Grid System*/
.container {
  max-width: 1130px;
  margin: 0 auto;
}
.grid {
  display: grid;
}

.grid.col-2 {
  grid-template-columns: 1fr 1fr;
}
.grid.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid.col-3-sidebar {
  grid-template-columns: 2fr 1fr 1fr;
}
@media (min-width: 768px) {
}
@media (max-width: 768px) {
  .grid.col-2 {
    grid-template-columns: 1fr;
  }
}
.text-center {
  text-align: center;
}
/* Cabeçalho / Menu */
.menu {
  display: flex;
  justify-content: space-around;
}
.menu a {
  text-decoration: none;
  color: black;
}

/* Fonts Tipografia */
h1 {
  font-size: 1.75rem;
}

table {
  color: #ffffff;
  background-color: antiquewhite;
  position: relative;
  top: 30px;
  border-radius: 3px;

}

footer {
  color: #000000;
  background: #ffab62;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

footer>p {
  padding: 14px;
  font-size: 12px;
}

.btn_add {
  position: relative;
  left: 81%;
  top: 32%;
}

.form-check {
  text-align: center;
}